{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "import/prefer-default-export": "off",
    "react/static-property-placement": ["warn", "property assignment", {
      childContextTypes: "static getter",
      contextTypes: "static public field",
      contextType: "static public field",
      displayName: "static public field",
      propTypes: "static public field",
      defaultProps: "static public field"
    }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-unresolved": "off",
    "react/destructuring-assignment": 0,
    "react/forbid-prop-types": 0,
  },
  "plugins": [
    "jest"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  }
}